<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>ShortText</th>
        <th>Text</th>
        <th>Image</th>
    <tr>
        <td th:text="${singleData.id}"></td>
        <td th:text="${singleData.title}"></td>
        <td th:text="${singleData.shortText}"></td>
        <td th:text="${singleData.text}"></td>
        <td><img width="50" th:if="${singleData.picUrl != null}" th:src="@{/post/getImage(picUrl=${singleData.picUrl})}"></td>
    </tr>

</table>
<a href="/">Go back!</a>

</body>
</html>